{% include 'defaults/head.html' %}

<body>

    <a class="nav-link" href="/recetas">volver</a>
    <div class="container mt-5">
        <h1>Receta de chupe de
            camarones</h1>
        <div class="container">
            <h5>Receta de chupe de camarones</h5>
            <p><strong>Rinde:</strong> 4 porciones</p>
            <p><strong>Tiempo de preparación:</strong> 45 minutos</p>
            <h6>Ingredientes</h6>
            <ul>
                <li>500 g de camarones, pelados y limpios</li>
                <li>2 tazas de caldo de pescado o de camarones</li>
                <li>1 cebolla, picada finamente</li>
                <li>3 dientes de ajo, picados</li>
                <li>2 zanahorias, cortadas en rodajas</li>
                <li>2 papas, peladas y cortadas en cubos</li>
                <li>1 taza de choclo (maíz) desgranado</li>
                <li>1 taza de arvejas</li>
                <li>1 taza de leche evaporada</li>
                <li>1 taza de queso fresco, desmenuzado</li>
                <li>2 huevos</li>
                <li>1/4 de taza de arroz</li>
                <li>Aceite de oliva</li>
                <li>Sal y pimienta a gusto</li>
                <li>Perejil fresco picado</li>
            </ul>
            <h6>5 pasos para un chupe de camarones increíble</h6>
            <p></p>En una olla sofreír la cebolla y el ajo en un poco de aceite de oliva hasta que estén dorados.
            Agregar las zanahorias, papas y choclo, y cocinar por unos minutos.</p>
            <p>Verter el caldo de pescado o camarones en la olla, cuando llegue a ebullición, agregar el arroz y
                cocinar hasta que esté tierno.</p>
            <p>Incorporar los camarones, arvejas y leche evaporada, cocinar a fuego medio hasta que los camarones se
                cocinen. Agregar el queso fresco revolviendo hasta que se derrita.</p>
            <p>En otro bol batir los huevos y agregarles un poco de la sopa caliente revolviendo constantemente.
                Verter en la olla revolviendo para crear una consistencia más espesa.</p>
            <p>Salpimentar a gusto. Cocinar a fuego lento unos minutos hasta que la sopa espese ligeramente. Servir
                caliente, espolvoreando perejil fresco picado por encima.</p>
        </div>

    </div>



</body>

{% include 'defaults/scriptsjs.html' %}
{% include 'defaults/footer.html' %}