{% include 'defaults/head.html' %}


<body>

    <a class="nav-link" href="/recetas">volver</a>
    <div class="container mt-5">
        <h1>Receta de pollo a la brasa peruano</h1>
        <div class="container">

            <h5>Receta de pollo a la brasa peruano</h5>
            <p><strong>Rinde:</strong> 6 porciones</p>
            <p><strong>Tiempo de preparación:</strong> 5 horas</p>
            <h6>Ingredientes</h6>
            <ul>
                <li>1 pollo entero (aproximadamente 2 kg)</li>
                <li></strong>Para la Marinada:</strong>
                    <ul>
                        <li>4 dientes de ajo picados</li>
                        <li>2 cucharadas de pasta de ají panca (o ají amarillo)</li>
                        <li>2 cucharadas de vinagre de manzana</li>
                        <li>2 cucharaditas de comino molido</li>
                        <li>1 cucharadita de pimienta negra</li>
                        <li>1 cucharadita de paprika</li>
                        <li>Sal a gusto</li>
                        <li>2 cucharadas de aceite vegetal</li>
                    </ul>
                </li>
            </ul>
            <h6>Paso a paso y girando se hace el pollo a la brasa</h6>
            <p>Lavar, secar bien y realizar cortes profundos al pollo. En un bol mezclar todos los ingredientes de
                la marinada hasta obtener una pasta homogénea.</p>
            <p>Cubrir bien todo el pollo con la marinada. Cubrirlo y dejar marinar en el refrigerador al menos 4
                horas. Precalentar parrilla u horno a temperatura alta.</p>
            <p>Cocinar el pollo a la brasa, girando ocasionalmente para asegurar una cocción uniforme, durante
                aproximadamente 1 hora. Ir chequeando la cocción en la carne.</p>
            <p>Servir el pollo a la brasa peruano con la guarnición clásica elegida como papas fritas y ensalada.
            </p>
        </div>

    </div>





</body>

{% include 'defaults/scriptsjs.html' %}
{% include 'defaults/footer.html' %}