{% include 'defaults/head.html' %}

<body>

    <a class="nav-link" href="/recetas">volver</a>
    <div class="container mt-5">
        <h1>Receta de Suprema
            Maryland</h1>
        <div class="container">
            <h5>Receta de suprema maryland</h5>
            <p><strong>Rinde:</strong> 4 porciones</p>
            <p><strong>Tiempo de preparación:</strong> 1 hora</p>
            <h6>Ingredientes</h6>
            <ul>
                <li>4 pechugas de pollo</li>
                <li>1 taza de pan rallado</li>
                <li>1/2 taza de harina</li>
                <li>2 huevos batidos</li>
                <li>1 taza de leche</li>
                <li>Sal y pimienta a gusto</li>
                <li>Aceite vegetal para freír</li>
                <li><strong>Para la salsa:</strong>
                    <ul>
                        <li>1/4 taza de mantequilla</li>
                        <li>1/4 taza de harina</li>
                        <li>2 tazas de leche</li>
                        <li>Sal y pimienta a gusto</li>
                        <li>3 choclos amarillos desgranados</li>
                    </ul>
                </li>
                <li><strong>Para las bananas fritas:</strong>
                    <ul>
                        <li>4 bananas</li>
                        <li>2 huevos</li>
                        <li>1/2 taza de pan rallado</li>
                        <li>Aceite, para freír</li>
                    </ul>
                </li>
            </ul>
            <h6>Cómo hacer suprema maryland de la manera más sencilla</h6>
            <p>Salpimentar a gusto las pechugas de pollo. Preparar tres platos hondos: uno con harina, otro con
                huevo batido y el tercero con pan rallado.</p>
            <p>Pasar cada pechuga por harina, luego por huevo y finalmente por pan rallado, cubriendo uniformemente.
            </p>
            <p>Calentar suficiente aceite en una sartén a fuego medio. Freír 5-6 minutos por cada lado hasta que
                estén doradas y cocidas.</p>
            <p>En una cacerola derretir la mantequilla, añadir la harina y revolver hasta formar una pasta. Verter
                la leche, revolviendo hasta que espese. Agregar el choclo procesado y cocinar 5 minutos.</p>
            <p>Pelar las bananas, pasarlas por el huevo batido y luego pan rallado. Freírlas en abundante aceite
                caliente. Retirar y colocar sobre papel absorbente.</p>
            <p>Servir caliente las supremas con la salsa y las bananas fritas en el mismo plato. Se pueden acompañar
                con huevos fritos y papas pay.</p>
        </div>

    </div>
</body>

{% include 'defaults/footer.html'%}
{% include 'defaults/scriptsjs.html'%}